body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

#hero {
    background-image: url("images/winter-clarksville.jpeg");
    color: white;
    text-shadow: 0px 0px 1px black;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

#hero-title {
    margin-top: 0px;
    margin-bottom: 0;
    background-color: #1D3557;
    width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 26px;
    box-shadow: 0px 4px 8px 0px rgb(50, 49, 49);
}

#hero-description {
    margin-top: 10px;
    background-color: #457B9D;
    width: 400px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 8px 0px rgb(50, 49, 49);

}

#main {
    height: 350px;
    color: #1D3557;
    background-color: #F1FAEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-info {
    max-width: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
}

.main-img {
    margin: auto;
    width: 125px;
    height: 125px;
    background-color: lightblue;
    border-radius: 100%;
    box-shadow: 0px 4px 8px 0px rgb(50, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link, a:visited, a:hover {
    color:#F1FAEE;
    padding: 40px;
    border-radius: 100%;
    font-size: medium;
    opacity: 0%;
  }

  .main-description {
    margin-top: 0px;
  }

  .main-title {
    border-bottom: 8px;
  }
  

#distillery-img {
    background-image: url("images/old-glory.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#distillery-img:hover {
    background-image: url("images/old-glory.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

#downtown-img {
    background-image: url("images/downtown-clarksville.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#downtown-img:hover {
    background-image: url("images/downtown-clarksville.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

#cave-img {
    background-image: url("images/dunbar-cave.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cave-img:hover {
    background-image: url("images/dunbar-cave.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

#footer {
   height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D3557;
}

.footer-card {
    background: #A8DADC;
    border-bottom: 5px solid #1D3557;
    border-radius: 10px;
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgb(50, 49, 49);
}

.footer-avatar {
    background-image: url("images/rick.jpg");
    width: 180px;
    height: 250px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 8px 0px rgb(50, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-link {
    padding: 115px 50px;
}

.footer-avatar:hover {
    filter: grayscale(100%);
}

#footer-guide {
    width: 180px;
    height: 250px;

}

#footer-title {
    font-size: 22px;
}

#footer-description {
    font-size: 15px;
}

#footer-name {
    font-size: 16px;
}

